#agree{
  background-color: lighten(#198754, 10%);

  &:hover{
    background-color: lighten(#157347, 10%);
  }
  &:active{
    background-color: lighten(#146c43, 10%) !important;
  }
}

#disagree{
  background-color: lighten(#dc3545, 10%);

  &:hover{
    background-color: lighten(#bb2d3b, 10%);
  }
  &:active{
    background-color: lighten(#b02a37, 10%);
  }
}

#question-text-container{
  min-height: 173.17px;
}